* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Raleway', sans-serif !important;
}

.vh100 {
  height: 100vh;
} 

/* estilos del preload */

.container-flex-colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.container-flex-row {
  display: flex;
  justify-content: space-between;
}

.img-logo {
  width: 170px;
}

.grad70 {
  background: linear-gradient(to bottom right, #530261, #EA1791);
}

/* estilos de register */

#center {
  position: relative;
  width: 400px;
  height: 500px;
  margin-left: -10px;
}

#image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.background {
  background-image: url(../assets/images/city.gif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.btn-height {
  margin-top: 100px;
  margin-right: 10px;
}

.buttons-register {
  padding: 2em;
}

.btn-success {
  margin-bottom: 3em;
  padding: 0.5em;
}

.style-button {
  border: 1px solid rgb(240, 240, 240);
  background-color: transparent;  
}

hr {
  border-bottom: 1px solid rgb(95, 95, 95);
  margin-bottom: 30px;
}

/* estiilos de formularios */

.space {
  margin: 250px 0 0 70px;
}

.form-group {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  margin-bottom: 1em;
  padding: 0.5em;
}

/*Signup*/

.btn-style {
  background-color: transparent; 
  color: rgb(255, 0, 119);
  border: none;
  font-size: 25px;
  margin-bottom: 1em;
  padding: 15px;
}

.inline {
  display: inline-block;
  height: 7vh;
  width: 49%;
}

.input-phone {
  border: none;
  border-bottom: 1px solid #ea0b8c;
  border-radius: 0;
  outline: none;
  margin-left: 10px;
}

.img-flags {
  width: 100%;
}

.first-form {
  color: black;
  text-align: center;
}

.btn-white{
  background-color: white;
}

.box-next{
  display: flex;
  align-items: flex-end;
  height: 15vh;
}

.next {
  background-color: #ea0b8c;
  color: white;
  border-color: #b80b8c;
  border-bottom-width: .33332rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: .5s;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100px;
}

.dropdown-toggle {
  padding-right: 50px
}

.btn-group img {
  margin-right: 10px;
}

.btn-group>.btn:first-child {
  border: 1px solid rgb(102, 102, 102);
  margin-bottom: 8px;
}



