<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Login</title>
</head>

<body class="vh100">
  <div class="slide-buttons container-flex-row">
    <a href="menu.html" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
  </div>
  <form class="container-flex-column text-center">
    <h1 class="title"> Login </h1>
    <hr>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-success">Next</button>
  </form>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>