<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="icon" href="../assets/images/car.png">
  <link rel="stylesheet" href="../css/main.css">
  <title>lyft</title>
</head>

<body class="vh100">
  <a href="menu.html" type="button" class="btn btn-style">
    <span class="btn-next glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  <section class="container first-form">
    <h2>Sign Up</h2>
    <p>Join now for free ride credit</p>
    <hr>
    <div class="btn-group">
      <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-flags" src="../assets/images/mexico.png">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>

      <ul class="dropdown-menu">
        <li>
          <a href="#" title="Select this card">
            <img class="img-flags" src="../assets/images/peru.png">
          </a>
        </li>
        <li>
          <a href="#" title="Select this card">
            <img class="img-flags" src="../assets/images/us.png">
          </a>
        </li>
        <li>
          <a href="#" title="Select this card">
            <img class="img-flags" src="../assets/images/colombia.png">
          </a>
        </li>
      </ul>
    </div>

    <input type="text" class="inline input-phone" placeholder="52" maxlength="10">
    <p>We'll send a text to verify your phone</p>
    <div class="box-next">
      <button href="#" class="btn btn-block next" disabled>Next</button>
    </div>



  </section>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/signup.js"></script>
</body>

</html>